a.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a.button:hover {
    background-color: #0056b3;
}

.centered-div {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  height: 100px;           /* Set to desired height */
}

#img-container {
  position: relative;
}

#image {
  display: block;
  width: 100%;
}

.box {
  pointer-events: all;
  transition: fill 0.5s ease, stroke 0.5s ease;
}
