a.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a.button:hover {
    background-color: #0056b3;
}

.centered-div {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  height: 70px;           /* Set to desired height */
}

#edit-mode-msg {
  border-radius: 10px;
  background-color: #FFA50060;
  text-align: center;
}

#img-container {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center;     /* Optional: Centers content vertically if needed */
}

#image {
  display: block;
  width: 100%;
}

.box {
  pointer-events: all;
  transition: fill 0.5s ease, stroke 0.5s ease;
}

.class-label {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.box {
  stroke-width: 2px;
  stroke: var(--color);
  fill: var(--color);
  fill-opacity: 0;
}

.edit-mode {
  stroke-width: 0px;
}

.selected {
  stroke-dasharray: 0 0 !important;
  stroke-width: 5px !important;
}

.edited-box {
  stroke-dasharray: 10 5;
  stroke-width: 3px;
}

.edited-mask {
  fill-opacity: 1;
}
